 *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
       }
       body{
        font-family: 'Plus Jakarta Sans', sans-serif;
         background: #12132A;
       }
       nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:15px 40px;
        color:#fff
       }
       nav ol{
        list-style-type: none;
       }
       nav ol li {
        display:inline;
        padding: 15px;
       }
       a{
        text-decoration: none;
        color:#767799;
       }
       .sign-up{
        border:solid #fff;
        padding:15px;
       }
       .sign-up a{
        color:#fff !important;
       }
       .sign-up:hover{
        border: solid #767799;
       }
       .hero{
        display:flex;
        position: relative;
        flex-direction: row;
        align-items: center;
        justify-content:space-between;
        font-family: Arial, Helvetica, sans-serif;
        color:#fff;
        z-index: 0;
       }
       .hero-info{
        display: flex;
        position: relative;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: auto;
        z-index: 1;
       }
       .hero-info .sign-up{
        margin-top:60px;
       }
       .hero-info p{
        margin-top:30px ;
        width: 400px;
        color:#767799;
        padding-left: 10%;
        
       }
       .hero-info .sign-up{
        width: fit-content;
       }
       .hero-info h1{
        width: 300px;
        font-size: 50px;
        line-height: 1.7;
        z-index: 1;
       }
       .img-hero{
        width:50%;
        height:auto;
        text-align: right;
       }
       .img-hero img{
        width: 80%;
        height: auto;
       }
       .bg-dec{
              position: absolute;
              left:10px;
              width: 300px;
              height: 300px;
              justify-content: center;
              align-items: center;
              background: radial-gradient(circle at center,#1845A3 0%, #0f2b63 100%);
              border-radius: 60% 40% 70% 50% / 50% 60% 40% 70%;
              filter: blur(50px);
              opacity: 0.6;
              z-index:0;
              
       }
       .logos{
              display: flex;
              justify-content: space-between;
              align-items: center;

              background-color:#162446 ;
              padding: 3%;
       }
       .logo img{
              height: 30px;
       }
       .title-info h1{
       width: 689px;
       height: 113px;
       left: calc(50% - 689px/2 - 0.5px);
       top: 75px;
       font-family: 'Plus Jakarta Sans',sans-serif;
       font-style: normal;
       font-weight: 500;
       font-size: 60px;
       line-height: 104.5%;
       text-align: center;
       justify-content: center;
       align-self:center;
       color: #FFFFFF;
       }
       .title-info{
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              gap:30px;
              padding-top: 30px;
       }
       .title-info p{
              color:#767799;
              width: 40%;
              text-align: center;
       }
       .info-cards{
              display:flex;
              justify-content: space-between;
              gap: 2%;
              padding: 60px;
              color:#fff;
       }
       .info-card{
              display: flex;
              width:25% ;
              height: 450px;
              padding: 30px;
              margin: auto;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              border:1px solid #c23893;
              border-radius: 15px; 
              gap: 12%;
              text-align: center;

       }
       .info-card img{
              width: 87px;
              height: 87px;
       }
       .info-card h1{
              display: flex;
              align-self: start;
              padding-left:10%;
       }
